/* CHANGE THE COLORS HERE */
:root {
    --bg: #f0f0f0;
    --font: #222222;
    --header: #ffffff;
    --box: #ffffff;
    --borders: #f0f0f0;
    --accent: #87a3b5;
    
    /* dark mode colors */
    --drk-bg: #181825;
    --drk-font: #f0f0f0;
    --drk-accent: #708EA7;
    --drk-header: #2C3349;
    --drk-box: #2C3349;
    --drk-borders: #181825;
    }
    
    body {
    margin: 0;
    background: var(--bg);
    font-family: 'Trebuchet MS', sans-serif;
    font-size: 14px;
    color: var(--font);
    line-height: 120%;
    word-wrap: break-word;
    transition: all 0.4s;
    font-family:karla;
    }
    
    /* DARK MODE STYLING */
    body.night {background: var(--drk-bg); color: var(--drk-font);}
    body.night a {color: var(--drk-accent);}
    
    body.night .links a, body.night .filters {background: var(--drk-header);}
    body.night .filters a {color:var(--drk-font);}
    
    body.night .links a, body.night .filters, body.night .grid .item {
    border: 1px solid var(--drk-borders);}
    
    body.night .item {background: var(--drk-box);}
    body.night .item a {background: var(--drk-accent); color: var(--drk-font);}
    
    body.night .item a:hover {color: var(--drk-font); background: transparent; border: 1px solid var(--drk-accent);}
    
    a {
    text-decoration: none;
    color: var(--accent);
    transition: all 0.4s;
    -webkit-transition: all 0.4s;
    -moz-transition: all 0.4s;
    -ms-transition: all 0.4s;
    -o-transition: all 0.4s;
    }
    
    header {
    width: 75%;
    margin: 50px auto 25px;
    display: flex;
    justify-content: center;
    }
    
    img.avtr {
    width: 125px;
    height: 125px;
    border-radius: 8px;
    }
    
    .links a, .filters {
    background: var(--header);
    border: 1px solid var(--borders);
    border-radius: 8px;
    }
    
    .links {margin: 0 15px;}
    
    .links a {
    background: var(--header);
    border: 1px solid var(--borders);
    border-radius: 5px;
    padding: 8px;
    font-size: 18px;
    display: flex;
    margin-bottom: 10px;
    }
    
    .links a:hover {
    color: var(--header);
    background: var(--accent);
    }
    
    .filters {
    width: calc(100% - 130px - 1.25em - 35px);
    height: 100%;
    max-height: 200px;
    padding: 4px 10px;
    overflow: scroll;
    
    }
    
    .filters ul {padding:0;}
    .filters li {list-style-type: none; display: inline-block;}
    .filters li a {color: var(--font); margin: 0 5px;}
    .filters ul b {margin: 0 5px;}
    .selected {font-weight: bold; border-bottom: 2px solid var(--accent);}
    
    /* content */
    .grid {
    width: 90%;
    height: calc(100vh - 230px);
    margin: 0 auto 25px;
    }
    
    .grid .item {
    display: block;
    background: var(--box);
    margin: .5%;
    width: 25%;
    box-sizing: border-box;
    border: 1px solid var(--borders);
    border-radius: 5px;
    min-width: 430px;
    overflow: hidden
    }
    
    .item h2 {margin: 0 0 5px;}
    
    .item a {
    display: block;
    text-align: center;
    background: var(--accent);
    padding: 6px 8px;
    margin: 1px auto;
    border-radius: 3px;
    border: 1px solid var(--accent);
    color: var(--bg);
    }
    
    .item a.second {
    display: block;
    text-align: center;
    background: var(--bg);
    padding: 6px 8px;
    margin: 1px 1px;
    border-radius: 3px;
    border: 1px solid var(--accent);
    color: var(--accent);
    flex-basis: 50%
    }
    
    .box {
    display: flex;
    flex-direction: row;
    }
    
    .box2 {
    display: flex;
    }
    
    .right {
    height: 101%;
    width: 100%;
    padding: 15px;
    margin: 1;
    flex: 3 3 250px;
    }
    
    .left {
    height: 101%;
    width: 70%;
    flex: 1 0 100px;
    }
    
    .item h2 {margin: 5px 0 5px; color: var(--accent);}
    .item b {color: var(--accent);}
    .item i {font-size: 0.9em;}
    .item p {line-height: 1em;}
    
    .item a:hover {
    background: transparent;
    color: var(--font);
    border: 1px solid var(--accent);
    color: var(--accent);
    }
    
    img.avtr {
        display: none;
    }
    
    .item img {
        display: block;
        max-width: 101%;
        object-fit: cover;
        height: 340px
    }
    
    
    h3 {
       width: 90%;
       text-align: center;
       border-bottom: 2px solid var(--borders);
       line-height: 0.1em;
       margin: 0 auto;
       margin-top: 1em;
    }
    
    h3 span {
        background:#fff;
        padding:0 15px;
        color: var(--accent);
        font-size: 0.85em;
    }
    
    table#table {
      margin-top: 0.7em;
      background-color: #f0f0f0 ;
      max-width: 100%;
      border-radius: 5px;
      text-align: center;
      color: var(--accent);
      width: 100%;
      font-size: 0.9em;
    }
    
    
    body.night table#table {
        background-color: var(--drk-bg);
        color: var(--drk-accent);
    }
    
    body.night span {
        background: var(--drk-box);
        color: var(--drk-accent);
    }
    
    /* credit: DO NOT TOUCH */
    .crd {
    position: fixed;
    bottom: 15px;
    right: 15px;
    }
    
    /* tumblr controls by magnusthemes */
    .iframe-controls--desktop {
    position: fixed;
    top: 0px; right: 0px;
    z-index: 214748364789123456789;
    -webkit-transform:scale(0.6,0.6);
    -webkit-transform-origin: 100% 0%;
    -ms-transform-origin:100% 0%;
    -ms-transform:scale(0.6,0.6);
    transform:scale(0.6,0.6);
    transform-origin:100% 0%;
    }
    
    .iframe-controls--phone-mobile {display:none!important;}
    .tmblr-iframe-pushdown {padding-top:0!important;} 
    .tmblr-iframe--app-cta-button {display:none!important;}
    
    /* MEDIA QUERIES FOR RESPONSIVENESS */
    @media only screen and (max-width: 720px) {
    header {width: 92%;}
    .filters {width: calc(100% - 130px - 1.25em - 80px);}
    .grid .item {width: 48%; display: inline-block;}
    }
    
    @media only screen and (max-width: 600px) {
    .grid .item {width: 100%; display: inline-block; margin: 1% 0;}
    }
    
    
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
        <title>Test</title>
        <style type="text/css" media="screen">
         * {
           margin: 0; 
           padding: 0;
         }
    
         div#banner { 
           position: absolute; 
           top: 0; 
           left: 0; 
           background-color: var(--accent); 
           width: 100%; 
           font-size: 12px;
         }
         div#banner-content { 
           width: 1000px; 
           margin: 0 350px; 
           padding: 3px; 
         }
    