/* CHANGE THE COLORS HERE */
:root {
    --bg: #f0f0f0;
    --font: #222222;
    --header: #ffffff;
    --box: #ffffff;
    --borders: #f0f0f0;
    --accent: #87a3b5;
    
    /* dark mode colors */
    --drk-bg: #181825;
    --drk-font: #f0f0f0;
    --drk-accent: #4d6980;
    --drk-header: #2C3349;
    --drk-box: #2C3349;
    --drk-borders: #181825;
    }
    
    body {
    margin: 0;
    background: var(--bg);
    font-family: 'Trebuchet MS', sans-serif;
    font-size: 14px;
    color: var(--font);
    line-height: 120%;
    word-wrap: break-word;
    transition: all 0.4s;
    }
    
    /* DARK MODE STYLING */
    body.night  div#banner { 
      background-color: var(--drk-box);
      color: var(--drk-font)
    }

    body.night {background: var(--drk-bg); color: var(--drk-font);}
    body.night a {color: var(--drk-accent);}
    
    body.night .links a, body.night .filters {background: var(--drk-header);}
    body.night .links a, body.night .charafilters {background: var(--drk-header);}
    body.night .filters a {color:var(--drk-font);}
    body.night .charafilters a {color:var(--drk-font);}
    
    body.night .links a, body.night .filters, body.night .grid .item {
    border: 1px solid var(--drk-borders);}

    body.night .links a, body.night .charafilters, body.night .grid .item {
    border: 1px solid var(--drk-borders);}
    
    body.night .item {background: var(--drk-box);}
    body.night .item a {background: var(--drk-accent); color: var(--drk-font);}
    
    body.night .item a:hover {color: var(--drk-font); background: transparent; border: 1px solid var(--drk-accent);}

    body.night .item .expandable-section .fade {
    background: linear-gradient(to bottom, rgba(255, 255, 255, 0), var(--drk-box));
    }
    
    body.night .item .expand-btn .less-btn {
    color: #ccc;
    }

    body.night .links a:hover {
    color: var(--drk-font);
    background: var(--drk-accent);
    }

    body.night .dropdown-content {
      background-color: var(--drk-bg);
    }

    body.night .dropdown-content a {
      color: var(--drk-font); 
      background: var(--drk-accent);
    }

   body.night .dropdown-content a:hover {color: var(--drk-font); background: var(--drk-box); border: 1px solid var(--drk-accent);}

   body.night .item span {
    color: var(--accent);
    }

    body.night .item .expand-btn:hover .less-btn:hover {
  color: rgb(255, 255, 255);
    }

    a {
    text-decoration: none;
    color: var(--accent);
    transition: all 0.4s;
    -webkit-transition: all 0.4s;
    -moz-transition: all 0.4s;
    -ms-transition: all 0.4s;
    -o-transition: all 0.4s;
    }
    
    header {
    width: 75%;
    margin: 50px auto 25px;
    display: flex;
    justify-content: center;
    }
    
    img.avtr {
    width: 125px;
    height: 125px;
    border-radius: 8px;
    }

    .lightswitch:hover {
    cursor: pointer;
    }
    
    .links a, .filters {
    background: var(--header);
    border: 1px solid var(--borders);
    border-radius: 8px;
    }

    .links a, .charafilters {
    background: var(--header);
    border: 1px solid var(--borders);
    border-radius: 8px;
    }
    
    .links {margin: 0 15px; text-align: center;}
    
    .links a {
    background: var(--header);
    border: 1px solid var(--borders);
    border-radius: 5px;
    padding: 8px;
    font-size: 18px;
    display: inline-block;
    margin: 10px 10px auto;
    }
    
    .links a:hover {
    color: var(--header);
    background: var(--accent);
    }
    
    .filters {
    width: flex;
    height: flex;
    max-height: 200px;
    padding: 4px 16px;
    overflow: scroll;
    
    }
    
    .filters ul {padding:0;}
    .filters li {list-style-type: none; display: inline-block;}
    .filters li a {color: var(--font); margin: 0 5px;}
    .filters ul b {margin: 0 5px;}
    .selected {font-weight: bold; border-bottom: 2px solid var(--accent);}

    .charafilters {
    width: flex;
    height: flex;
    max-height: 100px;
    padding: 4px 10px;
    overflow: scroll;
    margin-top: 5px;
    margin-bottom: 5px;
    
    }
    
    .charafilters ul {padding:0;}
    .charafilters li {list-style-type: none; display: inline-block;}
    .charafilters li a {color: var(--font); margin: 0 5px;}
    .charafilters ul b {margin: 0 5px;}
    .selected {font-weight: bold; border-bottom: 2px solid var(--accent);}
    
    /* content */
    .grid {
    width: 90%;
    height: calc(100vh - 230px);
    margin: 0 auto 25px;
    }
    
    .grid .item {
    display: block;
    background: var(--box);
    margin: .5%;
    width: 65%;
    box-sizing: border-box;
    border: 1px solid var(--borders);
    border-radius: 5px;
    min-width: 49%;
    width: 25%;
    overflow: hidden;

    height: 450px;
    overflow: hidden;
    }
    
    .item h2 {margin: 0 0 5px;}
    
    .item a {
    display: block;
    text-align: center;
    background: var(--accent);
    padding: 6px 8px;
    margin: 1px auto;
    border-radius: 3px;
    border: 1px solid var(--accent);
    color: var(--bg);
    }
    
    .item a.second {
    display: block;
    text-align: center;
    background: var(--bg);
    padding: 6px 8px;
    margin: 1px 1px;
    border-radius: 3px;
    border: 1px solid var(--accent);
    color: var(--accent);
    flex-basis: 50%
    }
    
    .box {
    display: flex;
    flex-direction: row;
    }
    
    .box2 {
    display: flex;
    }
    
    .right {
    height: 101%;
    width: 100%;
    padding: 15px;
    margin: 1;
    flex: 4 4 350px;
    overflow-y: scroll;
    height: 410px;
    }
    
    .left {
    margin: 10px 10px 0px;
    flex: 200px 1 1;
    position: relative;
    height:438px
    }

    
    .item h2 {margin: 5px 0 5px; color: var(--accent);}
    .item b {color: var(--accent);}
    .item i {font-size: 0.9em;}
    .item p {line-height: 1em;}
    
    .item a:hover {
    background: transparent;
    color: var(--font);
    border: 1px solid var(--accent);
    color: var(--accent);
    }
    
    img.avtr {
        display: none;
    }
    
    .item img {
        display: block;
        max-width: 101%;
        object-fit: cover;
        height: 450px;
        position:absolute; bottom:0; left:0
      }
    
    
    h3 {
       width: 90%;
       text-align: center;
       border-bottom: 2px solid var(--borders);
       line-height: 0.1em;
       margin: 0 auto;
       margin-top: 1em;
    }
  

    h3 span {
        background:#fff;
        padding:0 15px;
        color: var(--font);
    }
    
    table#info {
      margin-top: 0.7em;
      background-color: #f0f0f0 ;
      max-width: 100%;
      border-radius: 5px;
      text-align: center;
      color: var(--accent);
      width: 100%;
      font-size: 0.9em;
    }
    
    body.night table#info {
        background-color: var(--drk-bg);
        color: var(--drk-accent);
    }
    
    body.night span {
        background: var(--drk-box);
        color: var(--drk-accent);
    }
    
    div#banner { 
        position: absolute; 
        display: flex;
        justify-content: center;
        align-items: center;
        top: 0; 
        background-color: var(--accent); 
        width: 100%; 
        font-size: 12px;
      }
      div#banner-content { 
        width: 780px; 
        padding: 3px; 
        text-align: center;
      }

      @media only screen and (max-width: 1023px) {
        .mobile-controls {display: block;}
        div#banner {font-size: 10px}
    }

    @media only screen and (max-width: 390px) {
        .mobile-controls {display: block;} 
        div#banner {font-size: 10px;}
    }

    /* credit: DO NOT TOUCH */
    .crd {
    position: fixed;
    bottom: 15px;
    right: 15px;
    }
    
    /* tumblr controls by magnusthemes */
    .iframe-controls--desktop {
    position: fixed;
    top: 0px; right: 0px;
    z-index: 214748364789123456789;
    -webkit-transform:scale(0.6,0.6);
    -webkit-transform-origin: 100% 0%;
    -ms-transform-origin:100% 0%;
    -ms-transform:scale(0.6,0.6);
    transform:scale(0.6,0.6);
    transform-origin:100% 0%;
    }
    
    .iframe-controls--phone-mobile {display:none!important;}
    .tmblr-iframe-pushdown {padding-top:0!important;} 
    .tmblr-iframe--app-cta-button {display:none!important;}
    
    /* MEDIA QUERIES FOR RESPONSIVENESS */
    @media only screen and (max-width: 720px) {
    header {width: 100%;}
    .filters {width: flex; margin-right: 20px;}
    .charafilters {width: flex; margin-right: 20px;}
    .grid .item {width: 48%; display: inline-block;}
    }
    
    @media only screen and (max-width: 600px) {
    header {width: 100%; }
    .grid .item {width: 100%; display: inline-block; margin: 1% 0;}
    .left {flex: 1 1 100px;}
    }
    
/* WHOLE EXPANDABLE SECTION (Includes both 1) the button and 2) the content that's under "Expand More") */
.expandable-section {
  margin-bottom: 20px;
  position: relative;
  margin-bottom: 50px; /*This keeps sections like "Birthday" and "Miscellaneous" from being right beneath the "Expand More" button*/
}

/* 1) BUTTON */
.expand-btn-wrapper {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 2;
}

.expand-btn, .less-btn {
  background-color: rgba(255, 255, 255, 0); /* Transparent background */
  color: rgb(34, 38, 47);
  font-family: 'Trebuchet MS', sans-serif;
  font-size: 14px;
  font-weight: bold;
  padding: 10px;
  border: none;
  width: 100%;
  text-align: center;
  border-radius: 8px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  z-index: 3;
}

.expand-btn:hover .less-btn:hover{
  color: rgb(12, 127, 159);
}

/* 2) EXPANDABLE CONTENT */
.expandable-content {
  display: none;
  max-height: 0; /*display:none and max height:0 keeps it undisplayed at first*/
  overflow: hidden;
  transition: max-height 0.5s ease-out;
  position: relative;
  z-index: 1;
}

.expandable-section.expanded .expandable-content {
  display: block;
  max-height: 100%;
  z-index: 2;
}

/* TRANSLATION LINKS (code is same as ".item a" code) */
.expandable-section a {
  display: block;
  text-align: center;
  background: var(--accent);
  padding: 6px 8px;
  margin: 1px auto;
  border-radius: 3px;
  border: 1px solid var(--accent);
  color: var(--bg);
  z-index: 10;
}

.expandable-section a:hover {
  background: transparent;
  border: 1px solid var(--accent);
  color: var(--accent);
}

.expandable-section .fade {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  height: 50px;
  background: linear-gradient(to bottom, rgba(255, 255, 255, 0), var(--bg));
  pointer-events: none;
  transition: opacity 0.3s ease;
  opacity: 1;
}

/* Fade goes away when you expand it */
.expandable-section.expanded .fade {
  opacity: 0;
}

.expandable-section.expanded {
  padding-top: 40px; /* This makes it so you can see "Show Less" when it's expanded. If this were 0, it would be buried under the links */
}
    